---
import MainLayout from "../layouts/MainLayout.astro";
import ScheduleList from "../components/schedule/ScheduleList.astro";
---

<MainLayout title="Schedule - PKKBN 2026">
    <main class="max-w-7xl mx-auto px-6 space-y-12 pt-12 pb-24">
        <div class="text-center space-y-4">
            <h1 class="text-4xl font-bold text-primary">Schedule</h1>
            <p class="text-on-surface-variant max-w-2xl mx-auto">
                Jadwal kegiatan PKKBN Hari ke-2 (Fakultas) dan Hari ke-3 (Program Studi)
            </p>
        </div>
        <ScheduleList />
    </main>
</MainLayout>